<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>aTitle</key>
		<string>Navigation1</string>
		<key>aClass</key>
		<string>UINavigation1ViewController</string>
	</dict>
	<dict>
		<key>aTitle</key>
		<string>Navigation2</string>
		<key>aClass</key>
		<string>UINavigation2ViewController</string>
	</dict>
</array>
</plist>
